@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}


.top-banner{
    background-color: #e74694;
    background-image: url('./Assets/asset\ 32.png');
    background-size: 300px;
    
}

.company-logo img{
    width: 200px;

}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}

a{
    text-decoration: none;
    display: inline-block;
}

.main-nav{
    margin-top: 20px;
     justify-content: space-between;
}

.nav-links{
    flex-basis: 730px;
}

.hover-link{
    color: var(--primary-text-color);

}

.hover-link:hover{
    color: var(--accent-color);
}

ul{
    list-style: none;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;

}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;

}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}