@media screen and (max-width: 991px) {

    h3{
        font-size: 1.2rem;
    }
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    
    .nav-links{
        
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        
        transition: 0.2s ease-in-out;
    }

    .nav-links.active {
        left: 0;

    }

    .nav-links ul{
        flex-direction: column;
        align-items: start;
        padding-left: 35px;
    }

    .main-nav{
        overflow: initial;
        
    }



    .examples-area{
        gap: 20px;
    }

    .examples-card{
        width: calc(50% - 10px);
        height: 180px;
    }

    .cta-section{
        padding-block: 50px;
    }
}

@media screen and (max-width: 767px) {

    .primary-button{
        width: 100%;
    }

    .header-section{
        flex-direction: column-reverse;
    }

    .header-left{
        max-width: 100%;
        text-align: center;
        
    }

    .pehra{
        margin-right: 0;
        text-align: center;
    }

    .feature-card{
        min-width: calc(50% - 10px);
    }
    
}

@media screen and (max-width: 690px) {
    .footer-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 40px;
    }

    .link-column{
        align-items: stretch;
    }
    
}

@media screen and (max-width: 550px) {
    .feature-area{
        flex-direction: column;
    }

    .big-feature-container {
        flex-direction: column;
    }

    #second-big-feature{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 404px) {

   .examples-card{
    width: 100%;
   }

    h2{
        font-size: 1.5rem;
    }
    
    p{
        font-size: 1rem;
    }

    .pehra{
        font-size: 1rem;
    }
}